
@import "compass";

//
@mixin icon-base{
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;

  &.small{
    width: 16px;
    height: 16px;
  }
  &.middle{
    width: 24px;
    height: 24px;
  }
  &.large{
    width: 32px;
    height: 32px;
  }
}

@mixin icon-base-text {
  @include icon-base;
  &.small{
    font-size: 12px;
  }
  &.middle{
    font-size: 18px;
  }
  &.large{
    font-size: 28px;
  }
}

.icon-user{
  @include icon-base;
  background-image: inline-image('users81.svg');
}
.icon-key{
  @include icon-base;
  background-image: inline-image('key206.svg');
}
.icon-gear-white{
  @include icon-base;
  background-image: inline-image('gear-white.svg');
}

.icon-close {
  @inclide icon-base-text;
  color: #888888;
  cursor: pointer;

  &:before { content: "×"; }
  &:hover {
    color: #222222;
  }
}

