
.c-legend {
  font-size : 20px;
  line-height : 32px;
  margin-bottom : 5px;
}

.c-field-table {
  margin-left : 10px;
}

.c-field-row {
  height : 48px;
  line-height : 48px;
}

.c-field-head {
  padding-right : 10px;
}

.c-field-data {
  padding-right : 15px;
}