@import "../sass-util/const";

.c-sep-vertical {
  display : block;
  height : 0;
  border-top: dashed 1px #f0f0f0;
  margin: 20px 30px;
}

.c-legend {
  display: inline-block;
  color : #fff;
  text-align:center;
  font-size : 12px;
  min-width : 120px;
  line-height : 20px;
  margin-bottom : 5px;
  margin-left : 10px;
  margin-top : 10px;
  padding : 4px 12px;
  border-radius : 3px;
  background-color: $primary-color;
}

.c-field-table {
  margin-left : 10px;
}

.c-field-row {
  height: 48px;
  line-height: 48px;

  &:not(:last-child) {
    border-bottom: solid 1px #ddd;
  }
}
.c-field-row-elastic {
  & .c-field-data {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &:not(:last-child) {
    border-bottom: solid 1px #ddd;
  }
}

.c-field-head {
  padding-right : 10px;
  text-align : center;
//  background-color : #eeeeee;
}

.c-field-data {
  padding-left:15px;
  padding-right:10px;
}