@import "compass/css3/transition";
//
// @create 2015/4/30
//

@import "common/common-controll";
@import "common/common-icon";

a {
  color : #131399;
  text-decoration : none;

  &:hover {
    color : #1141fa;
    text-decoration : underline;
  }
}

.u-vert-sep {
  display : block;
  margin : 5px 5%;
  border-top : 1px solid #ddf;
  &.white {
    border-color : #fff;
  }
}

.u-hori-sep {
  height:100%;
  width : 1px;
  margin-left : 7px;
  margin-right : 7px;
  border-left : 1px solid #ddd;
}

.u-no-transition {
  @include transition-property(none !important);
}

.u-flex {
  @include display-flex;
}

.u-text-s {
  font-size : 10px;
}
.u-text-m {
  font-size : 12px;
}
.u-text-l {
  font-size : 14px;
}

.u-center {
  text-align : center;
}
.u-right {
  text-align : right;
}
.u-left {
  text-align : left;
}

.u-float-right {
  float : right;
}

.u-float-left {
  float : left;
}

.u-row > div {
  float: left;
}

.u-p5 { width : 5%; }
.u-p10 { width : 10%; }
.u-p15 { width : 15%; }
.u-p20 { width : 20%; }
.u-p25 { width : 25%; }
.u-p30 { width : 30%; }
.u-p35 { width : 35%; }
.u-p40 { width : 40%; }
.u-p45 { width : 45%; }
.u-p50 { width : 50%; }
.u-p55 { width : 55%; }
.u-p60 { width : 60%; }
.u-p65 { width : 65%; }
.u-p70 { width : 70%; }
.u-p75 { width : 75%; }
.u-p80 { width : 80%; }
.u-p85 { width : 85%; }
.u-p90 { width : 90%; }
.u-p95 { width : 95%; }
.u-p100 { width : 100%; }
