@import "compass/css3/transition";

@import "common/common-color";
@import "common/common-controll";
@import "common/common-icon";
@import "common/common-form";

a {
  color : #131399;
  text-decoration : none;

  &:hover {
    color : #1141fa;
    text-decoration : underline;
  }
}

hr {
  color : #aaaaaa;
}

.u-vert-sep {
  display : block;
  margin : 5px 5%;
  border-top : 1px solid #ddf;
  &.white {
    border-color : #fff;
  }
}

.u-hori-sep {
  height:100%;
  width : 1px;
  margin-left : 7px;
  margin-right : 7px;
  border-left : 1px solid #ddd;
}

.u-no-transition {
  @include transition-property(none !important);
}

.u-flex {
  @include display-flex;
}

.u-text-s {
  font-size : 10px;
}
.u-text-m {
  font-size : 12px;
}
.u-text-l {
  font-size : 14px;
}

.u-center {
  text-align : center;
}
.u-right {
  text-align : right;
}
.u-left {
  text-align : left;
}

.u-caption {
  line-height : 24px;
  font-size   : 18px;

  &.size-l {
    line-height : 32px;
    font-size   : 24px;
  }

  &.size-m {
  }

  &.size-s {
    line-height : 18px;
    font-size   : 12px;
  }
}

.u-float-right {
  float : right;
}

.u-float-left {
  float : left;
}

.u-row > div {
  float: left;
}

.u-p5 { width : 5%; }
.u-p10 { width : 10%; }
.u-p15 { width : 15%; }
.u-p20 { width : 20%; }
.u-p25 { width : 25%; }
.u-p30 { width : 30%; }
.u-p35 { width : 35%; }
.u-p40 { width : 40%; }
.u-p45 { width : 45%; }
.u-p50 { width : 50%; }
.u-p55 { width : 55%; }
.u-p60 { width : 60%; }
.u-p65 { width : 65%; }
.u-p70 { width : 70%; }
.u-p75 { width : 75%; }
.u-p80 { width : 80%; }
.u-p85 { width : 85%; }
.u-p90 { width : 90%; }
.u-p95 { width : 95%; }
.u-p100 { width : 100%; }

.u-16p1 { width: 60px; }
.u-16p2 { width: 120px; }
.u-16p3 { width: 180px; }
.u-16p4 { width: 240px; }
.u-16p5 { width: 300px; }
.u-16p6 { width: 360px; }
.u-16p7 { width: 420px; }
.u-16p8 { width: 480px; }
.u-16p9 { width: 540px; }
.u-16p10 { width: 600px; }
.u-16p11 { width: 660px; }
.u-16p12 { width: 720px; }
.u-16p13 { width: 780px; }
.u-16p14 { width: 840px; }
.u-16p15 { width: 900px; }
.u-16p16 { width: 960px; }

.c-error {
  color : #551111;
}

.c-infobox {
  margin  : 10px;
  padding : 2px;
  &.error {
    color : #771111;
    background-color : #ffcccc;
    border : solid 1px #ddaaaa;
  }
}

.u-block { display: block; }

.text-s { font-size: 12px; }

.margin-top10 { margin-top: 10px; }
.margin-top15 { margin-top: 15px; }
.margin-top20 { margin-top: 20px; }
.margin-top25 { margin-top: 25px; }
.margin-btm10 { margin-bottom: 10px; }
.margin-btm15 { margin-bottom: 10px; }

.padding-top10 {
  padding-top : 10px;
}