@import "compass";

// Popup

// @see https://zxcvbnmnbvcxz.com/pure-css3-balloons/
// ほしいレイアウトに合わせて改変させていただきました。

.c-popup {
  position : absolute;
  display : block;
  word-wrap: normal;
  cursor : pointer;
}

.c-popup__inner {
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  width: auto;
  min-width: 115px;
  height: 28px;
  line-height: 24px;
  border-radius: 2px;
  text-align: left;
  color : #FF6F00;
  background: #FFECB3;
  border: 2px solid #FF6F00;
  z-index: 0;
  opacity : 0.93;
}
.c-popup__inner:hover {
  opacity : 1.00;
}
.c-popup__inner:before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 20px;
  margin-left: -8px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #FFECB3 transparent transparent transparent;
  z-index: 0;
}
.c-popup__inner:after {
  content: "";
  position: absolute;
  bottom: -11px; left: 20px;
  margin-left: -9px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #FF6F00 transparent transparent transparent;
  z-index: -1;
}
