<div>
    <dialog class="p-add-name-dialog" width="800px">
        <div class="c-dialog-title u-flex u-bg-primary-color u-white">
            <div class="u-p90">
                新しい連絡先
            </div>
            <div class="u-p10 u-right">
                <span class="icon-close white" ng-click="addNameDialog.requestClose()"></span>
            </div>
        </div>

        <form class="padding-top10">
            <fieldset>
                <h3 class="c-legend">基本情報</h3>
                <table class="c-field-table">
                    <colgroup>
                        <col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" />
                    </colgroup>
                    <tr class="c-field-row" ng-if="!!addNameDialog.model.id">
                        <th class="c-field-head" colspan="4">名簿番号</th>
                        <td class="c-field-data" colspan="12">{{ addNameDialog.model.id }}</td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">連絡先名（英語）</th>
                        <td class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m"ng-model="addNameDialog.model.name_e">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">連絡先名（日本語）</th>
                        <td class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.name_j">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">連絡先名（かな）</th>
                        <td class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m"ng-model="addNameDialog.model.name_k">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">別名</th>
                        <td class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m"ng-model="addNameDialog.model.alias">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">カテゴリ－</th>
                        <td class="c-field-data" colspan="4">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.category1" placeholder="1)">
                        </td>
                        <td class="c-field-data" colspan="4">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.category2" placeholder="2)">
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">電話番号</th>
                        <td class="c-field-data" colspan="4">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.tels[0]" placeholder="1)">
                        </td>
                        <td class="c-field-data" colspan="4">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.tels[1]" placeholder="2)">
                        </td>
                        <td class="c-field-data" colspan="4">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.tels[2]" placeholder="3)">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">FAX</th>
                        <th class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.entry_fax">
                        </th>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">メールアドレス１</th>
                        <th class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.mails[0]">
                        </th>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">メールアドレス２</th>
                        <th class="c-field-data" colspan="12">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.mails[1]">
                        </th>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4">URL</th>
                        <th class="c-field-data" colspan="12"><input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.e"></th>
                    </tr>
                    <tr class="c-field-row-elastic">
                        <th class="c-field-head" colspan="4">コンタクト備考（英語）</th>
                        <th class="c-field-data" colspan="12">
                            <textarea rows="3" class="u-p100 size-s" ng-model="addNameDialog.model.e"></textarea>
                        </th>
                    </tr>
                    <tr class="c-field-row-elastic">
                        <th class="c-field-head" colspan="4">コンタクト備考（日本語）</th>
                        <th class="c-field-data" colspan="12">
                            <textarea rows="3" class="u-p100 size-s" ng-model="addNameDialog.model.e"></textarea>
                        </th>
                    </tr>
                </table>
                <hr class="c-sep-vertical">
                <h3 class="c-legend">住所</h3>
                <table class="c-field-table">
                    <colgroup>
                        <col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" />
                    </colgroup>
                    <tr class="c-field-row" ng-repeat="address in addNameDialog.model.addresses">
                        <th class="c-field-head" colspan="2">{{ $index+1 }}</th>
                        <td class="c-field-data">
                            <input type="radio" ng-model="addNameDialog.model.sendindex" value="{{$index}}">
                        </td>
                        <td class="c-field-data">
                            <div class="u-right text-s">〒&nbsp;</div>
                            <div class="u-right text-s">住所&nbsp;</div>
                        </td>
                        <td class="c-field-data" colspan="11">
                            <div><input type="text" class="u-p25 size-m" ng-model="address.zip"></div>
                            <div><input type="text" class="u-p95 size-m" ng-model="address.address"></div>
                        </td>
                        <td class="c-field-data">
                            <button type="button" tabindex="-1" ng-click="addNameDialog.removeAddress($index)">×</button>
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <td colspan="4">
                        </td>
                        <td colspan="11" class="u-center">
                            <button type="button" tabindex="-1" class="u-p80" ng-click="addNameDialog.addAddress()">住所を追加する</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <h3 class="c-legend">ひろば</h3>
                <table class="c-field-table">
                    <colgroup>
                        <col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" />
                    </colgroup>
                    <tr class="c-field-row">
                        <td class="c-field-data" colspan="1"></td>
                        <th class="c-field-head u-left" colspan="15">
                            <label><input type="checkbox" ng-model="addNameDialog.send" value="true">ひろばを発送します</label>
                        </th>
                    </tr>
                </table>
                <table class="c-field-table" ng-show="addNameDialog.send">
                    <colgroup>
                        <col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" />
                    </colgroup>
                    <tr class="c-field-row">
                        <th class="c-field-head" colspan="4"></th>
                    </tr>
                </table>
                <hr class="c-sep-vertical">
                <table class="c-field-table margin-top20">
                    <colgroup>
                        <col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" /><col class="u-16p1" />
                    </colgroup>
                    <tr>
                        <td colspan="16" class="u-center">
                            <input type="checkbox">登録内容を見直しました。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="16" class="u-center">
                            <button type="button">登録する</button>
                            <button type="button" ng-click="addNameDialog.requestClose()">キャンセル</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </dialog>
</div>