<div>
    <dialog class="p-add-name-dialog" width="800px">
        <div class="c-dialog-title u-flex u-bg-primary-color u-white">
            <div class="u-p90">
                新しい連絡先
            </div>
            <div class="u-p10 u-right">
                <span class="icon-close white" ng-click="addNameDialog.requestClose()"></span>
            </div>
        </div>

        <form class="padding-top10">
            <fieldset>
                <table class="c-field-table">
                    <tr class="c-field-row" ng-if="!!addNameDialog.model.id">
                        <th class="c-field-head">名簿番号</th>
                        <td class="c-field-data u-p90">{{ addNameDialog.model.id }}</td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head">連絡先名（日本語）</th>
                        <td class="c-field-data u-p80">
                            <input type="text" class="u-p100 size-m" ng-model="addNameDialog.model.entry_name_ja">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head">連絡先名（かな）</th>
                        <td class="c-field-data u-p80">
                            <input type="text" class="u-p100 size-m">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head">連絡先名（英語）</th>
                        <td class="c-field-data u-p80">
                            <input type="text" class="u-p100 size-m">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head">別名</th>
                        <td class="c-field-data u-p80">
                            <input type="text" class="u-p100 size-m">
                        </td>
                    </tr>
                    <tr class="c-field-row">
                        <th class="c-field-head">別名</th>
                        <td class="c-field-data u-p80">
                            <input type="text" class="u-p100 size-m">
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="text" />
                </div>
                <div>
                    <label>
                        <input type="checkbox">登録内容を見直しました。
                    </label>
                </div>
                <div>
                    <button type="button">登録する</button>
                    <button type="button" ng-click="addNameDialog.requestClose()">キャンセル</button>
                </div>
            </fieldset>
        </form>
    </dialog>
</div>